<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <form method="post" action="/settleclaim" enctype="application/x-www-form-urlencoded">
        <label for="email">You want to settle a claim from</label><br>
        <input readonly th:field="${email}" name="email" id="email" type="email" autofocus required><br>
        <label for="due_date">that was due on</label><br>
        <input readonly type="date" id="due_date" name="due_date" th:field="${due_date}"><br>
        <label for="description">for</label><br>
        <input readonly th:field="${description}" type="text" id="description" name="description"><br>
        <label for="claim_amount">You owe</label><br>
        <input readonly type="number" id="claim_amount" th:field="${claim_amount}" name="claim_amount"><br>
        <input id="submit" type="submit" value="Settle"/>
    </form>
</div>
</body>

</html>